Repository KumJungMin/push-release-test, changes with the labels that .github/labeler.yml gives for each.
All labels: desktop, mobile

모바일 수정하기
  packages/mobile/lib/mobile.js
Labels: mobile

데스크탑 수정하기
  packages/desktop/lib/desktop.js
Labels: desktop

데스크탑, 모바일 이외 수정하기
  index.js
Labels: desktop, mobile

데스크탑 수정하기
  packages/desktop/lib/desktop.js
Labels: desktop

데스크탑 수정사항 되돌리기
  packages/desktop/lib/desktop.js
Labels: desktop

1
  .github/workflows/desktop-tag-release.yml
Labels: desktop, mobile

m
  .github/workflows/desktop-tag-release.yml
Labels: desktop, mobile

1
  .github/workflows/desktop-tag-release copy.yml
Labels: desktop, mobile

1
  .github/workflows/desktop-tag-release copy.yml
  .github/workflows/desktop-tag-release.yml
Labels: desktop, mobile

1
  .github/workflows/desktop-tag-release copy.yml
  .github/workflows/desktop-tag-release.yml
Labels: desktop, mobile

/
  .github/workflows/desktop-tag-release copy.yml
  .github/workflows/desktop-tag-release.yml
Labels: desktop, mobile

1
  .github/workflows/desktop-tag-release copy.yml
  .github/workflows/desktop-tag-release.yml
Labels: desktop, mobile

새 문법 테스트
  .github/workflows/draft-syntax-test-1.yml
  .github/workflows/draft-syntax-test-2.yml
Labels: desktop, mobile

1
  .github/workflows/draft-syntax-test-1.yml
Labels: desktop, mobile

1
  .github/workflows/draft-syntax-test-1.yml
Labels: desktop, mobile

2
  .github/workflows/draft-syntax-test-1.yml
Labels: desktop, mobile

22
  .github/workflows/draft-syntax-test-1.yml
Labels: desktop, mobile

2
  .github/workflows/draft-syntax-test-1.yml
Labels: desktop, mobile

222
  .github/workflows/draft-syntax-test-1.yml
Labels: desktop, mobile

테스트
  .github/workflows/draft-syntax-test-1.yml
Labels: desktop, mobile

테에스트으
  .github/workflows/draft-syntax-test-1.yml
Labels: desktop, mobile

222
  .github/workflows/draft-syntax-test-1.yml
Labels: desktop, mobile

test1
  .github/workflows/test1.yml
Labels: desktop, mobile

ㅏㅏ
  .github/workflows/test1.yml
Labels: desktop, mobile

22
  .github/workflows/test1.yml
Labels: desktop, mobile

2222
  .github/workflows/test1.yml
Labels: desktop, mobile

333333
  .github/workflows/test1.yml
Labels: desktop, mobile

chore: 릴리즈 노트에 링크 가능한지 테스트하기
  .github/release-drafter-desktop.yml
Labels: desktop, mobile

chore: 데스크탑 수정
  packages/desktop/lib/desktop.js
Labels: desktop

ci: 사용하지 않는 ci 제거하기
  .github/workflows/desktop-push-path-test.yml
  .github/workflows/desktop-tag-release.yml
  .github/workflows/draft-syntax-test-1.yml
  .github/workflows/draft-syntax-test-2.yml
  .github/workflows/mobile-push-path-test.yml
  .github/workflows/test-actions.yml
  .github/workflows/test1.yml
Labels: desktop, mobile

ci: run 환경 변경하기
  .github/workflows/release-drafter.yml
Labels: desktop, mobile

ci: 제거
  .github/workflows/desktop-push-path-test.yml
  .github/workflows/desktop-tag-release.yml
  .github/workflows/draft-syntax-test-1.yml
  .github/workflows/draft-syntax-test-2.yml
  .github/workflows/mobile-push-path-test.yml
  .github/workflows/test-actions.yml
  .github/workflows/test1.yml
Labels: desktop, mobile

ci: 펜 아이콘 변경하기
  .github/release-drafter-desktop.yml
Labels: desktop, mobile

chore: 데스크탑 수정
  packages/desktop/lib/desktop.js
Labels: desktop

.github/labeler.yml:

desktop: ["packages/desktop/**/*", "!packages/mobile/**/*"]
mobile: ["packages/mobile/**/*", "!packages/desktop/**/*"]
