Repository KumJungMin/push-release-test, changes with the labels that .github/labeler.yml gives for each.
All labels: desktop, mobile

.github/labeler.yml:

desktop: ["packages/desktop/**/*"]
mobile: ["packages/mobile/**/*"]

모바일 수정
  packages/mobile/lib/mobile.js
Labels: mobile

데스크탑 수정
  packages/desktop/lib/desktop.js
Labels: desktop

mobile, desktop 이외 파일 수정
  root.js
Labels: none

모바일, 데스크탑 이외 수정하기
  root.js
Labels: none

모바일, 데스크탑 수정하기
  packages/desktop/lib/desktop.js
  packages/mobile/lib/mobile.js
Labels: desktop, mobile

데스크탑 수정사항 되돌리기~
  packages/desktop/lib/desktop.js
Labels: desktop
